<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource name="jdbc/UserPlatformDB"
              type="javax.sql.DataSource"  auth="Container"
              description="Derby database for User Platform"
              maxActive="100" maxIdle="30" maxWait="10000"
              username="" password="" 
              driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
              url="jdbc:derby:Databases/UserPlatformDB"/>

</Context>